//general-settings
$base-padding: 24px;

//header-colors
$header-topbar-bg: #434343;
$header-bg: #363636;

//footer-colors
$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;
$footer-text: #A9A9A9FF;

//general-colors
$primary: #d58e32;
$background-white: #ffffff;

//text-colors
$text-color: #2a2a2a;
$text-color-gray: #a4a4a4;
$text-color-dirty-white: #D8D8D8FF;
$text-price-old: #a5a5a5;

//product-box-colors
$stars-average: #2A2A2AFF;

//cart-colors
$cart-counter-color: #E0E3EDFF;

//borders
$form-border-color: #292929;
$feature-border-color: #b6b6b6;
$product-box-border-color: #e1e1e1;
$new-furniture-border-color: #e2e2e2;

//miscellaneous
$menu-color-hover: #d58e32;
$photo-placeholder: #f4f5f7;
$box-shadow: #01020233;