@import "../../../styles/settings.scss";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
  padding-right: 30px;

  .leftinner {
    width: 50%;
    height: 400px;
    color: $text-color-dirty-white;

    img {
      width: 100%;
    }

    .box_img::before {
      position: absolute;
      content: "";
      opacity: 0.4;
      background-color: $color-black;
      width: 45%;
      height: 75%;
      top: 30px;
      left: 20px;
    }

    .promo_text {
      font-size: 30px;
      bottom: 35%;
      padding-left: 25px;

      span {
        display: block;
        font-size: 36px;
        font-weight: 700;
      }
    }

    .text_price {
      color: $text-color-dirty-white;
      padding-left: 25px;
      bottom: 15%;
      font-size: 40px;
      font-weight: 700;
      border: 5px solid $text-color-dirty-white;
    }
  }
  .rightinner {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 400px;
    padding-left: 30px;
    img {
      width: 100%;
      height: 100%;
      padding-bottom: 20px;
    }
  }
  .rightinner > div {
    padding: 0;
    margin: 0;
    height: 40%;
  }

  p {
    position: absolute;
    z-index: 1;
  }
}
