@import "../../../styles/settings.scss";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
  padding-right: 30px;

  .leftinner {
    width: 50%;
    height: 400px;
    color: $text-color-dirty-white;

    img {
      width: 100%;
    }

    .box_img::before {
      position: absolute;
      content: "";
      opacity: 0.4;
      background-color: $color-black;
      width: 45%;
      height: 65%;
      top: 20px;
      left: 20px;
    }

    .promo_text {
      font-size: 28px;
      bottom: 50%;
      left: 1%;
      padding-left: 25px;

      span {
        display: block;
        font-size: 36px;
        font-weight: 700;
      }
    }

    .text_price {
      color: $text-color-dirty-white;
      bottom: 30%;
      left: 3%;
      font-size: 36px;
      font-weight: 700;
      border: 5px solid $text-color-dirty-white;
    }
  }
  .rightinner {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 405px;
    padding-left: 30px;
    img {
      width: 540px;
      height: 100%;
      padding-bottom: 20px;
    }
  }
  .rightinner > div {
    padding: 0;
    margin: 0;
    height: 40%;
  }

  p {
    position: absolute;
    z-index: 1;
  }

  .topSale_text {
    top: 10%;
    left: 70%;
    font-size: 20px;
    padding-right: 150px;
    line-height: 1;
    span {
      font-size: 14px;
    }
  }

  .topSale_text_price {
    top: 23%;
    left: 70%;
    font-size: 20px;
    color: $text-color-orange;
  }

  .bottomSale_text {
    font-size: 18px;
    top: 50%;
    left: 80%;
    color: $text-color-orange;

    span {
      font-size: 14px;
      left: 100%;
      color: $text-color;
    }
  }
}
