@import "../../../styles/settings.scss";

.root {
  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $new-furniture-border-color;
    }

    .heading {
      position: relative;

      h3 {
        color: $primary;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $primary;
      }
    }
  }

  .menu {
    text-align: center;
    width: 100%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 10px 20px;
        font-weight: 600;
        border: 1px solid $new-furniture-border-color;
        width: 25%;
        a {
          color: $color-black;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }

  .box_left {
    .promoted {
      width: 100%;
      height: 450px;

      .images {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
