@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
>>>>>>> b3b91e20e69f7fa4a406b1cdedd0a82957ea2d15

>>>>>>> origin/master
  a {
    text-decoration: none;
  }

  @media all and (max-width: 768px) {
    .box {
      padding-bottom: 4rem;
    }
  }
}
