@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;
<<<<<<< HEAD
=======

>>>>>>> origin/master
  a {
    text-decoration: none;
  }

  @media all and (max-width: 768px) {
    .box {
      padding-bottom: 4rem;
    }
  }
}
